<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <script defer src="{{url_for('static', filename='index.js')}}"></script>
</head>
<body>
    <div class="logo"><img src="{{url_for('static', filename='icare.png')}}" alt=""></div>
    <div class="hero">
        <label for="input-file" id="drop-area">
            <form method="POST" action="/" enctype="multipart/form-data">
                {{form.image.label()}}
                {{form.image()}}
                <input type="submit">
            </form>
            <div id="img-view">
                <img src="{{url_for('static', filename='Icon White.png')}}">
                <p>Drag and drop or click here <br> to upload skin image</p>
                <span>Uplaod any images from computer</span>
            </div>
            <div id="upload-img">
            </div>
        </label>
    </div>
</body>
</html>

